/*----small screen---*/
 @media only screen and (max-width: 900px){
    .footer{
        margin-top: 30%;
        width: 100%;
        height: auto;
        background-color: #51cbe3b5;
    }
}
/*-----big screen----*/
@media only screen and (min-width: 901px){
    .footer{
        margin-top: 30%;
        width: 100%;
        height: auto;
        background-color: #51cbe3b5;
    }
}