<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap" rel="stylesheet">

    <div class="flexbox">
        <div class="flexcard flexcardGreen">
            <div class="flexcardNumber flexcardNumberGreen">01</div>
            <div class="flex flexcardTitle">Title</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo? </div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt=""></div>
        </div>
        <div class="flexcard flexcardBlue">
            <div class="flexcardNumber flexcardNumberBlue">02</div>
            <div class="flex flexcardTitle">Title</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt=""></div>
        </div>
        <div class="flexcard flexcardOrange">
            <div class="flexcardNumber flexcardNumberOrange">03</div>
            <div class="flex flexcardTitle">Title</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt=""></div>
        </div>
        <div class="flexcard flexcardPink">
            <div class="flexcardNumber flexcardNumberPink">04</div>
            <div class="flex flexcardTitle">Title</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
            <div class="flex flexcardImg"><img class="flexcardimgItem"
                    src="https://cdn.pixabay.com/photo/2017/01/10/23/01/seo-1970475_960_720.png" alt=""></div>
        </div>
