<app-carousel> </app-carousel>


<!-- team strength start ------------------------------------------------------------------>

  <!--- Jumbotron -->
  
  <section class="container-fluid padding" id="about">
    <div class=" row heading1">
    <h2 id="title1" >TEAM DASHBOARD</h2>
    </div>
    <div class=" row jumbotron">
      
    <br>
      <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-10">
        <h3 class="load"> Team Members Strength </h3>
      </div>
      
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 text-center">
        <span id="ts">
          <span class="value"><span id="value" >70</span></span>
       </span>
      </div>  
  </div>
  <div class=" row jumbotron">
    <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-10">
      <h3 class="load"> Internship Offers </h3>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 text-center">
      <span id="ts">
        <span class="value"><span id="value1" >70</span></span>
     </span>
    </div>  
</div>
<div class=" row jumbotron">
  <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 col-xl-10">
    <h3 class="load">Domain Heads </h3>
  </div>
  
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 text-center">
    <span id="ts">
      <span class="value"><span id="value2" >70</span></span>
   </span>
  </div>  
</div>
</section>

  <br>
  <!-- team strength end  --------------------------------------------------------------------->
<!-- team structure start ---------------------------------------->
<div class="container-fluid padding team-structure">
  <span class="badge-own"><h2 id="title2">TEAM STRUCTURE</h2></span>
<br>
<div class="row d-flex justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <span class="img-align-fix">
      <img class="card-img-top img-fluid" src="assets/img/web dev.png" alt="Card image cap">
      </span>
      <div class="card-body">
        <h2 class="card-title">Web development</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm">Know More</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <span class="img-align-fix">
      <img class="card-img-top img-fluid" src="assets/img/app dev.png" alt="Card image cap">
      </span>
      <div class="card-body">
        <h2 class="card-title">App Development</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm">Know More</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <span class="img-align-fix">
      <img class="card-img-top img-fluid" src="assets/img/hr.png" alt="Card image cap"></span>
      <div class="card-body">
        <h2 class="card-title">Marketing & HR</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    <div class="card-footer">
          <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm">Know More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <span class="img-align-fix">
      <img class="card-img-top img-fluid" src="assets/img/app dev.png" alt="Card image cap">
      </span>
      <div class="card-body">
        <h2 class="card-title">Graphic Design</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm">Know More</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <br><br>
<!-- team structure end ------------------------------------------------------------->

