hr{
    font-weight: bold;
}

/* team strength ------------------------------------------- */
#title1{
    text-align: center;
    font-size: 3rem;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: 600;
    color: rgba(240, 239, 239, 0.69);
    margin-top: 3%;
}
.heading1{
    padding:2%;
    background-color: rgba(0,0,0);
  }

.jumbotron{
    padding:4rem;
    border-radius: 1px;
    background-color: rgba(0, 0, 0); 
  }
  .value{
      
      font-size: 500%;
  }
  #ts .value{
      padding: 3%;
      width: 50px;
      background-color: rgb(253, 53, 93);
      border-radius: 30%;
  }
  .jumbotron h3{
      font-size: 200%;
      font-weight: bold;
      color: rgb(247, 245, 245);
      font-family: Montserrat,Helvetica,sans-serif;
      }


/* team structure ----------------------------------------- */
#title2{
    text-align: center;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(0,0,0,.69);
    line-height: 35px;
    margin: 3% 0% 2% 0%;
    
}
.img-align-fix{
    text-align: center;
}
.card-footer {
    padding:2%;
}

.card img{
    width:auto;
    height:15rem;
    border-radius:50%;
    padding: 2%;
    background-color: rgb(0, 123, 255,.5);
    /* rgb(0, 123, 255,.5); */
}
.card-body .card-title {
    text-align: center;
    font-weight: bold;

}
.card-body p{
    text-align: center;
}
.card{
    padding:1%;
    width: 90%;
    height: auto;
    margin-left: 5%;
    background-color: rgba(254, 254, 254);
}
/* events start ------------------------------------------------------------ */

  .wave-container {
    position: relative;
    background: #09F;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 100vh;
  }
  #bottom-svg
  {
   position:sticky;
   max-width: 100vw;
   min-height: 150vh;
  }
 
/* events end -------------------------------------------------------- */

/* Medium (md) devices (tablets, 768px and up) */

@media (max-width: 768px) { 
  
    .card img{
        width:15rem;
        height:15rem;
        border-radius: 50%;
        background-color: rgb(0,0,0,.5);
        padding: 2%;
    }

    .card{
        padding:1%;
        width:90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    /* jumbotron team strength ------------------- */
    #title1{
        font-size: 280%;
        font-weight: 500;
        line-height: 30px;
    }

    .jumbotron h3{
        font-size: 150%;
        font-weight: 600;
        line-height: 30px;
        }
        
    .jumbotron{
        padding:3rem;
      }
      /* events  ----------*/
      
  #bottom-svg
  {
   position:sticky;
   max-width: 100vw;
   min-height: 155vh;
  }
    
     
   }
   
   
   /* Extra small (xs) devices (portrait phones, less than 576px)
   
   Small (sm) devices (landscape phones, 576px and up) */
   
   @media (max-width: 576px) { 
    .card{
        padding:1%;
        width:90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    /* jumbotron team strength---------------- */
    #title1{
        font-size: 250%;
        font-weight: 500;
        line-height: 35px;
        padding:0px;
        margin-bottom: 3px;
    }
    
    .heading1{
        padding:1%;
      }
    
    .jumbotron{
        padding:2rem;
        border-radius: 1px;
        background-color: rgba(0, 0, 0);
      }
      .value{
          font-size: 400%;
      }
      #ts .value{
          padding: 2%;
          background-color: rgb(253, 53, 93);
          border-radius: 30%;

      }
      .jumbotron h3{
          font-size: 150%;
          font-weight: 500;
          line-height: 35px;
          margin-bottom: 40px;
          }
      .load{
              text-align: center;
          }

          /* team structure------------ */
    
       #title2{
        font-size: 250%;
        font-weight: 500;
        line-height: 35px;
        }

   /* events  ----------*/
      
   #bottom-svg
   {
    position:sticky;
    max-width: 100vw;
    min-height: 165vh;
   }
.header {
     width: 100%;
     padding: 73px 80px;
     background-image: url('../../../assets/img/hearder.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.white_bg {
     background: #fff;
     border-radius: 50px;
     opacity: 0.9;
     padding: 40px 35px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** banner section **/

.banner_main {
     padding: 60px 0 20px 0;
}

.text-bg {
     text-align: left;
}

.text-bg span {
     color: #fbca47;
     font-weight: bold;
     font-size: 40px;
     line-height: 50px;
}

.text-bg h1 {
     color: #050505;
     font-size: 66px;
     line-height: 70px;
     padding-bottom: 35px;
     font-weight: 600;
     text-transform: uppercase;
}

.text-bg p {
     line-height: 28px;
     padding-bottom: 50px;
     display: block;
     color: #1f1f1f;
     font-size: 17px;
}

.text-bg .read_more {
     max-width: 200px;
}

.text_img figure {
     margin: 0;
}

.text_img figure img {
     width: 100%;
}

.carousel-caption {
     position: inherit;
}

#banner1 .carousel-indicators {
     display: none;
}

#banner1 a.carousel-control-prev {
     left: 26%;
     position: absolute;
}

#banner1 a.carousel-control-next {
     left: 31%;
     position: absolute;
}

#banner1 .carousel-control-next,
#banner1 .carousel-control-prev {
     width: 50px;
     height: 50px;
     background: #fff;
     opacity: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fbca47;
     border: #fbca47 solid 1px;
     top: 79%;
     border-radius: 41px;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
     color: #050505;
     border: #050505 solid 1px;
}


/** end banner section **/
   
     
   }

