#titleh2{
    text-align: center;
    font-size: 200%;
}
.card img{
    width:auto;
    height:20rem;
}
.card-body .card-title {
    text-align: center;
    font-weight: bold;

}
.card-body p{
    text-align: center;
}
.card{
    padding:1%;
}

