<app-carousel> </app-carousel>
<br>
<h2 id="titleh2">Team Structure</h2>
<hr>
<div class="container-fluid team-structure">
<div class="row d-flex justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/img/web dev.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Web development</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-md">Know More</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/img/app dev.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">App Development</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-md">Know More</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/img/hr.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Marketing & HR</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    <div class="card-footer">
          <div class="text-center">
        <button type="button" class="btn btn-primary btn-md">Know More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <img class="card-img-top img-fluid" src="assets/img/app dev.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Graphic Design</h2>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <div class="text-center">
        <button type="button" class="btn btn-primary btn-md">Know More</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
