.social{
    margin-top: 27vh;
}
.social a{
    font-size: 4.5em;
    padding:3rem;
    margin-left: 10px;
  }
  
  .fa-twitter{
  color:#00aced;
  }
  .fa-instagram{
    color:#405DE6;
  }
  .fa-google-plus-g{
    color:#dd4b39;
  }
  .fa-youtube{
    color:#bb0000;
  }
  .fa-twitter:hover,
  .fa-youtube:hover,
  .fa-instagram:hover,
  .fa-google-plus-g:hover{
    color:#d5d5d5;
  }

  @media (max-width: 768px) {
    .social a{
      font-size: 5em;
      padding:1.2rem;
      margin-left: 20px;
    }
  }
  @media (max-width: 576px) {
      .social{
          padding: 0px;
          align-items: center;
      }
    .social a{
      font-size: 4.5em;
      margin-left: 10%;
      line-height: 30px;
      height: 10px;
    }
    .svg-inline--fa {
        height: 2em;
    }
    .social {
        margin-top: 15vh;
    }
 }