<!---HOME PAGE-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>

<!-------------------->

<!---TEAMS DASHBOARD-->

<center><h1 id="team">Team Dashboard</h1></center>
<hr>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="/assets/img/team3.png">
        <div class="card-body">
          <h4 class="card-title">Pranjay Poddar</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 sm-2">
      <div class="card">
        <img class="card-img-top" src="assets/img/team2.png">
        <div class="card-body">
          <h4 class="card-title">Shreyansh Pathak</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team3.png">
        <div class="card-body">
          <h4 class="card-title">Pranjay Poddar</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team1.png">
        <div class="card-body">
          <h4 class="card-title">Shreyansh Pathak</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team3.png">
        <div class="card-body">
          <h4 class="card-title">Pranjay Poddar</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team1.png">
        <div class="card-body">
          <h4 class="card-title">Shreyansh Pathak</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team2.png">
        <div class="card-body">
          <h4 class="card-title">Pranjay Poddar</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="assets/img/team3.png">
        <div class="card-body">
          <h4 class="card-title">Shreyansh Pathak</h4>
          <p class-="card-text">bla bla lorem ipsum</p>
              <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
  </div>

<!------------->