<!---SECTION 1: WALLPAPER & ABOUT US-->
<section class="home">
    <div class="logo">
        <img src="assets/images/logo.png" alt="IWSC" width="250" height="250">
    </div>
    <div class="textBox">
        Ameliorating Work
        <br>
        Culture
    </div>
    <div class="button d-flex justify-content-center text-center">
        <button type="button" class="btn btn-primary" routerLink="/login-page">Login</button>
    </div>
    <!--<div class="intro"></div>-->
</section>
<!--SECTION 2: TESTIMONY-->
<section class="testimony">
    <div class="container">
        <h1 class="text-center">Testimony</h1>
        <div class="container">
            <img src="assets/images/customer-1.jpg" alt="Avatar" style="width:90px">
            <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
            <p>John Doe saved us from a web disaster.</p>
          </div>
          
          <div class="container">
            <img src="assets/images/customer-2.jpg" alt="Avatar" style="width:90px">
            <p><span>Rebecca Flex.</span> CEO at Company.</p>
            <p>No one is better than John Doe.</p>
          </div>
    </div>
</section>